<!--<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottom fixed-top">-->
<!--    <div class="container-md">-->
<!--        <a class="navbar-brand" href="/index">eformstudy</a>-->
<!--        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
<!--        <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--            <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link active" aria-current="page" th:href="@{/template/list}">문제게시판</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/notices">소식</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/introduce">소개</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/communityquestion/list">자유게시판</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--            <ul class="nav justify-content-end">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link disabled" sec:authorize="hasRole('TEACHER')" href="#" th:text="${#authentication.name} + ' 선생님 환영합니다.'">회원님 환영합니다.</a>-->
<!--                    <a class="nav-link disabled" sec:authorize="hasRole('STUDENT')" href="#" th:text="${#authentication.name} + ' 학생님 환영합니다.'">회원님 환영합니다.</a>-->
<!--                </li>-->
<!--                <li sec:authorize="isAuthenticated()" class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" href="javascript:void(0)" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                        회원정보-->
<!--                    </a>-->
<!--                    <ul class="dropdown-menu">-->
<!--                        <li><a class="dropdown-item" th:href="@{/user/mypage}">회원정보</a></li>-->
<!--                        <li><a class="dropdown-item" th:href="@{/myexam/list}">내시험</a></li>-->
<!--                        <li sec:authorize="hasRole('TEACHER')"><a class="dropdown-item" th:href="@{/studentmanage/list}">학생 관리</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/signup}">회원가입</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">고객센터</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->

<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-top">
    <div class="container-md">
        <a class="navbar-brand fw-bold text-primary" href="/index">eFormStudy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/template/list}">문제게시판</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/notices">공지사항</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/communityquestion/list">자유게시판</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle fw-bold" href="javascript:void(0)" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        고객지원
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" th:href="@{/question/list}">Q&A</a></li>
                        <li><a class="dropdown-item" th:href="@{/faq}">FAQ</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-primary fw-bold disabled" sec:authorize="hasRole('TEACHER')" href="#" th:text="${#authentication.name} + ' 선생님 환영합니다.'">회원님 환영합니다.</a>
                    <a class="nav-link text-primary fw-bold disabled" sec:authorize="hasRole('STUDENT')" href="#" th:text="${#authentication.name} + ' 학생님 환영합니다.'">회원님 환영합니다.</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-primary fw-bold" href="javascript:void(0)" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        회원정보
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" th:href="@{/user/mypage}">회원정보</a></li>
                        <li><a class="dropdown-item" th:href="@{/myexam/list}">내시험</a></li>
                        <li sec:authorize="hasRole('TEACHER')"><a class="dropdown-item" th:href="@{/studentmanage/list}">학생 관리</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary fw-bold" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary fw-bold" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary fw-bold" sec:authorize="isAnonymous()" th:href="@{/user/signup}">회원가입</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

