<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-5">
    <!-- 게시판 제목 -->
    <div class="board-header">
        <h1>자유게시판</h1>
    </div>

    <!-- 게시판 테이블 -->
    <table class="table table-hover table-striped">
        <thead class="table-dark text-center">
        <tr>
            <th>번호</th>
            <th style="width:50%">제목</th>
            <th>글쓴이</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="communityquestion, loop : ${paging}">
            <td th:text="${paging.getTotalElements() - (paging.number * paging.size) - loop.index}"></td>
            <td class="text-start">
                <a th:href="@{|/communityquestion/detail/${communityquestion.id}|}" th:text="${communityquestion.subject}"></a>
                <span class="text-danger small ms-2"
                      th:if="${#lists.size(communityquestion.communityAnswerlist) > 0 }"
                      th:text="${#lists.size(communityquestion.communityAnswerlist)}">
                    </span>
            </td>
            <td>
                <span th:if="${communityquestion.author != null}" th:text="${communityquestion.author.username}"></span>
            </td>
            <td th:text="${#temporals.format(communityquestion.createDate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>

    <!-- 페이징 처리 -->
    <div th:if="${!paging.isEmpty()}" class="d-flex justify-content-center mt-4">
        <ul class="pagination">
            <li class="page-item" th:classappend="${!paging.hasPrevious()} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${paging.number-1}|}">이전</a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number-5 and page <= paging.number+5}"
                th:classappend="${page == paging.number} ? 'active'" class="page-item">
                <a th:text="${page + 1}" class="page-link" th:href="@{|?page=${page}|}"></a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext()} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${paging.number+1}|}">다음</a>
            </li>
        </ul>
    </div>

    <!-- 글쓰기 버튼 -->
    <div class="row mt-4">
        <div class="col">
            <a th:href="@{/communityquestion/create}" class="btn btn-primary">글쓰기</a>
        </div>
        <div class="col"></div>
        <div class="col">
            <div class="input-group">
                <input type="text" id="search_kw" class="form-control" th:value="${kw}" placeholder="검색어 입력">
                <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
            </div>
        </div>
    </div>
    <!-- Search Form -->
    <form th:action="@{/communityquestion/list}" method="get" id="searchForm">
        <input type="hidden" id="kw" name="kw" th:value="${kw}">
        <input type="hidden" id="page" name="page" th:value="${paging.number}">
    </form>
</div>
<script layout:fragment="script" type="text/javascript">
    // Pagination Click Handler
    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('searchForm').submit();
        });
    });

    // Search Button Click Handler
    const btn_search = document.getElementById("btn_search");
    btn_search.addEventListener('click', function() {
        document.getElementById('kw').value = document.getElementById('search_kw').value;
        document.getElementById('page').value = 0; // 검색버튼을 클릭할 경우 0페이지부터 조회한다.
        document.getElementById('searchForm').submit();
    });

</script>
</html>



