<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="my-5">
    <div class="board-header">
        <h1 th:text="${notice.title}"></h1>
    </div>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;" th:text="${notice.content}"></div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2 text-start">
                    <div th:text="${#temporals.format(notice.createdDate, 'yyyy-MM-dd HH:mm')}"></div>
                    <div th:text="${#temporals.format(notice.updatedDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="my-3">
        <a href="/notices" class="btn btn-secondary">목록으로 돌아가기</a>
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/notices/edit/{id}(id=${notice.id})}" class="btn btn-warning">수정</a>
        <form th:action="@{/notices/delete/{id}(id=${notice.id})}" method="post" style="display:inline;">
            <button sec:authorize="hasRole('ADMIN')" type="submit" class="btn btn-danger">삭제</button>
        </form>
    </div>
    </div>
</div>
</html>